.homeContainer {  
  position: relative;  
  width: 100%;  
  height: 400px;  
  background-color: #f2f2f2;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
}  
  
.textOverlay {  
  text-align:  left;  
  color: #333;  
}  
  
.title {  
  font-size: 2.5rem;  
  margin-bottom: 1rem;  
  text-align: left;
}  
  
.subtitle {  
  font-size: 1.5rem;  
}  
  
/* Add any additional styling as needed */  
